


html,
body {
    height: 100%;
    color:  #337ab7;
}

/*NAVBAR*/

#header .search{
    display: inline-block;
}

.navbar>.container .navbar-brand{
    margin-left: 0;
}

.top-bar {
    padding: 10px 0;
    background: #00001a;
    border-bottom: 1px solid #222;
    line-height: 28px;
}

.top-number{
    color: #fff;
}

.top-number p{
    margin: 0
}


.search i {
    color: #fff;
}

input.search-form{
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
    color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 180px;
}

.navbar-brand {
    padding: 0;
    margin:0;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background:-webkit-gradient(linear, 80% 20%, 20% 100%, from(#0C5DD0), to(#3D1746));
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav{
    margin-top: 12px;
}

.navbar-nav>li{
    margin-left: 15px;
    padding-bottom: 28px;
}

.navbar .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.navbar .navbar-nav > li > a:hover{
    background-color: rgba(0, 56, 137, 0.7) ;
    color: #fff;
}

.navbar .navbar-nav > li > a:focus{
    background-color: rgb(0, 56, 137) ;
    color: #fff;
}

.navbar {
    border: none;
}


.navbar .navbar-nav > .active > a,
.navbar.navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    background-color: rgb(0, 56, 137) ;
    color: #fff;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.75);
    border: 0;
    padding: 0;
    margin-top: -20px;
    border-top: 0;
    border-radius: 3px;
    left: 0;
}

.navbar .navbar-nav .dropdown-menu:before{
    position: absolute;
    top:0;
}

.navbar .navbar-nav .dropdown-menu > li > a {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 15px;
    color: #fff;
}

.navbar .navbar-nav .dropdown-menu > li:hover > a,
.navbar .navbar-nav .dropdown-menu > li:focus > a,
.navbar .navbar-nav .dropdown-menu > li.active > a {
    background-color: rgb(0, 56, 137);
    color: #fff;
}

.navbar .navbar-nav .dropdown-menu > li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.navbar .navbar-nav .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.navbar .navbar-nav .dropdown-menu > li.divider {
    background-color: transparent;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}




.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}



.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}


.combo{
    margin-top: 5px;
    margin-left: 20px;
}

.container h1{
    color:  #337ab7;
}

.navbar-brand img{
    padding: 0px 0px;
    margin-top: -5px;
}



.navbar-right a{
    margin-top: 20px;
}


.nav-slider{
    width: 100%;
}

.slick-slide {
    margin: 20px 20px;
}

.slick-slide img {
    width: 100%;

}



.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

}

