

html,
body {
    height: 100%;
}

body {
    background-color: white;
    color: #337ab7;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */
a{
    color: #337ab7;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: large;
}

.navbar-right{
    margin-top: 20px;
}

.navbar-custom{
    background-color: darkgray ;
    min-height: 90px;

}

.nav-slider{
    width: 100%;
    margin: 50px auto;
}

.slick-slide {
    margin: 20px 20px;
}

.slick-slide img {
    width: 100%;

}



.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

